<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceMaps" type="CMS.DistributionService.Host.ServiceMapsSection, CMS.DistributionService.Host" />
    <section name="BusinessLayer" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="Database" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--WCF服务映射配置-->
  <ServiceMaps>
    <Services>
      <Service InterfaceDll="CMS.DistributionService.Interface" ImplementionDll="CMS.DistributionService.Implemention">
        <Maps>
          <Map Face="CMS.DistributionService.Interface.ILogService" Real="CMS.DistributionService.Implemention.LogService" />
          <Map Face="CMS.DistributionService.Interface.INotifyService" Real="CMS.DistributionService.Implemention.NotifyService" />
          <Map Face="CMS.DistributionService.Interface.IMonitorService" Real="CMS.DistributionService.Implemention.MonitorService" />
        </Maps>
      </Service>
    </Services>
  </ServiceMaps>
  <!--业务逻辑层映射配置-->
  <BusinessLayer defaultAssembly="CMS.Business.Interface">
    <components>
      <component type="CMS.Business.Implemention.Logger, CMS.Business.Implemention" service="CMS.Business.Interface.ILogger" />
    </components>
  </BusinessLayer>
  <!--数据访问层映射配置-->
  <Database  defaultAssembly="CMS.Database.Provider">
    <components>
      <component type="CMS.Database.Provider.SqlDbContent, CMS.Database.Provider" service="CMS.Database.Provider.DbContent" />
    </components>
  </Database>
  <appSettings>
    <add key="ConnectionString" value="Data Source=192.168.1.109;Initial Catalog=CentralMonitoring;User ID=sa;Password=111" />
    <add key="WcfBaseAddress" value="net.tcp://192.168.1.101:19527/"/>
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
